[Desktop Entry]
Type=Application
Version=1.0
Name=LanMountainDesktop
Comment=LanMountainDesktop desktop shell
Exec=@@EXEC@@ %U
Icon=@@ICON@@
Terminal=false
Categories=Utility;Education;
StartupWMClass=LanMountainDesktop
